/* Landing Page */


body {

    background-image: url('../img/landingArcades.svg');
    height: 100vh;
    background-size:     cover;                      
    background-position: center center;  
    font-family: 'Electrolize', sans-serif;
}

.landing_form {
    padding-right: 10%;
    padding-left: 10%;
    color: white;
}

.sign_up {
    min-height: 100%;
  }

.signup_button_box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10%;
}

.sign_up_btn {
    min-width: 60%;
    margin-top: 5%;
    background-color: #BEAF0A;
    border:#BEAF0A;
    color: black;
}

.sign_up_btn:hover {

    background-color: #BEAF0A;
    border:#BEAF0A;
}

.copy_write {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copy_write_second {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img {
    height: 300px;
    padding: 3%;
}

.arcade_img {
    padding-right: 0;
    padding-left: 0;

  }

  .game__icons {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.icon1,.icon2,.icon3  {
    padding-right: 5%;
    padding-left: 5%;
}
  
  /* @media (max-width: 767px) {
    .game__icons {
        display:none;
    }
    .landingArcImg {
        display: none;
    }
    .right__col {
        display: none;
    }


} */

/* @media (max-width: 768px) {
    body {
        height:100vh;
    }
}

@media (min-width: 768px) {
    body {
        height:100vh;
    }
} */

