{% extends 'main.html' %}

{% block content %}


<h1>Global Leaderboard</h1>

<div class="row">
    <div class="col">
        <div class="card card-body">

            <form method="get">
            {{myFilter.form}}

            <button class="btn btn-primary" type="submit">Search</button>
            <a href="{% url 'leaderboard' %}"<button class="btn btn-warning" type="submit">Reset</button></a>

        </form> 
        </div>
    </div>
</div>
<br>

<table class="table">

    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Country</th>
        <th scope="col">Province/State</th>
        <th scope="col">City</th>
        <th scope="col">Highscore</th>

      </tr>
    </thead>

    {% for snakes in snakeHighScores %}

    <tbody>
      <tr>
        <td>{{snakes.username}}</td>
        <td>{{snakes.country}}</td>
        <td>{{snakes.stateProvince}}</td>
        <td>{{snakes.city}}</td>
        <td>{{snakes.highScore}}</td>
      </tr>


        {% endfor %}
    </tbody>
  </table>


{% endblock content %}